body{
  /*background-image: url("../images/hexabump_@2X.png");*/
  background-image: url("../images/dark_mosaic.png");
  color: lightgray;
  /*font-family: 'Space Mono', monospace;*/
}

.btn-flat{
  color: lightgray;
  padding-left: 3px;
  padding-right: 10px;
  margin-right: 5px;
  margin: 0 5px 0 0;
  
}

.test{
  border-right: solid 2px red;
}

.gif{
  text-align: center;
}


.closeButton :hover{
  color: red;
}
/*#submitButton{
  margin-top: 90px;
}*/

.waves-effect.waves-mine .waves-ripple {
     /* The alpha value allows the text and background color
     of the button to still show through. */
      background-color: rgba(69, 48, 178, 0.7);
    }
