body{
  /*background-image: url("../images/hexabump_@2X.png");*/
  background-image: url("../images/dark_mosaic.png");
  color: lightgray;
  /*font-family: 'Space Mono', monospace;*/
}

.btn-flat{
  color: lightgray;
  padding-left: 3px;
  padding-right: 30px;
  /*margin-right: 5px;*/
  margin: 0 5px 0 0;
  
}

.test{
  border-right: solid 2px #00c853;
}

.gif{
  text-align: center;
}


.closeButton :hover{
  color: red;
}


.input-field input[type=text]:focus + label {
  color: #00c853;
}


.input-field input[type=text]:focus {
  border-bottom: 1px solid #00c853;
  box-shadow: 0 1px 0 0 #00c853;
}

.waves-effect.waves-mine .waves-ripple {
  background-color: rgba(0, 200, 83, 0.65);  
}

ul.dropdown-content.select-dropdown li span {
  color: #00c853; 
};

#gifInstruction.show{
  display: block;
}

#gifInstruction.hidden{
  display: none;
}
